@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}
.main-container {
  display: flex;
  flex-direction: column;
}
/* Menu STYLES */

nav {
  background: white;
  color: black;
  height: 100px;
  margin: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
}

.nav-logo {
  width: 35%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 150px;
  padding: 1.4rem;
}

.nav-menu {
  width: 70%;
  display: flex;
  flex-direction: row;
}

.nav-list {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 60%;
  list-style-type: none;
  height: 100%;
  font-size: 1.5rem;
}

.nav-list li {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.nav-list p {
  width: 60%;
  height: 40px;
  transition: 0.3s;
  padding-top: 10px;
  text-align: center;
}

.nav-list p:hover {
  background: black;
  color: white;
  opacity: 1;
}

/* HERO STYLES */

.hero {
  background-image: url("https://media.istockphoto.com/id/1152012544/photo/men-training-with-barbells.jpg?s=612x612&w=0&k=20&c=6vta633vvLjZLas2TCHqFkHAvkrx-Q5VpO4y3gyI09c=");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-info-container {
  margin-left: 2rem;
}

.hero-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 10px solid white;
}

.hero-info-box p {
  padding-left: 1rem;
}

.hero-title-one {
  font-size: 1.2rem;
  color: white;
}
.hero p {
  color: white;
}

.hero-title {
  margin-top: 3rem;
  margin-bottom: 0;
  font-size: 2rem;
  font-style: bold;
  font-weight: 800;
  color: white;
}

/* Footer */

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  font-family: "Lato", sans-serif;
  padding: 0;
}
footer ul {
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}
footer li {
  margin: 1rem;
  display: flex;
}
footer p {
  margin-top: 6%;
  margin-left: 30%;
  padding-right: 2rem;
}
a:link {
  text-decoration: none;
  color: white;
}
a {
  color: white;
}
.copyright {
  flex: 1;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.bestbody-section {
  margin-top: 10%;
}
.cubes {
  margin-bottom: 10%;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.cube-container {
  align-items: center;
  border: 2px solid black;
  margin: 2rem;
  padding-top: 5px;
}
.cube-container:hover {
  border: 2px solid aqua;
}

.cube-img {
  width: 230px;
  height: 200px;
}
.cube-img:hover {
  position: relative;
  top: -5px;
  padding-bottom: 5px;
}

.fig-title {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 5%;
  font-family: "Times New Roman", Times, serif;
}
.fig-title:hover {
  cursor: pointer;
}
.p-title {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

.section2-stats {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-bottom: 10%;
}
.grid-stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: end;
  text-align: end;
  padding-right: 20px;
}
.button-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 40px;
  margin-left: 10%;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button-section:hover {
  background-color: black;
  color: white;
}
.section2 {
  background-image: url("https://cms.evofitness.de/images/_2200xAUTO_crop_center-center_none/PTs_Digital_07.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: right;
  opacity: 3;
}
.numbers {
  text-align: center;
  padding: 10px;
  margin-right: 5%;
  width: 200px;
  height: 150px;
}
.section2-title {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 10%;
}
.section-about {
  margin-top: 10%;
  margin-left: 40%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}
.text {
  text-align: left;
  font-weight: 900;
}
.services {
  background: linear-gradient(black 50%, white 50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  padding-top: 10%;
  align-items: center;
}
.two {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.services-img {
  height: 100%;
  width: 100%;
  border: 2px solid purple;
}

.pictures {
  position: relative;
  width: 500px;
  height: 500px;
  align-items: center;
  margin: 25px;
}
.pictures:hover {
  opacity: 0.5;
}
.pictures img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.img-caption {
  position: absolute;
  bottom: 25px;
  left: 32px;
  color: white;
  font-weight: 900;
}
.services-button {
  margin-top: 4%;
  margin-bottom: 5%;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  border: 2px solid black;
  background-color: white;
  transition-duration: 0.4s;
}
.services-button:hover {
  background-color: black;
  color: white;
}
.rowing-sec {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  position: relative;
}
.testemonial {
  position: absolute;
  top: 170px;
  left: 50px;
  margin-left: 5%;
  color: white;
  font-size: large;
  font-weight: bolder;
}
.img-row {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.price-box {
  display: flex;
  flex-direction: row;
  margin: 10% 10% 20% 10%;
  justify-content: space-between;
  height: auto;
}
.price-choice {
  border: 2px solid black;
  align-items: center;
}
.pricing-img {
  width: 350px;
  height: 200px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.text-li {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: small;
}
.list {
  list-style: none;
}

ul {
  padding: 0;
}
.list li:before {
  content: "✓";
}
.button-price {
  height: 50px;
  width: 150px;
  background-color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 2px solid black;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
}
.button-price:hover {
  background-color: black;
  color: white;
}
.pricing-title {
  margin-top: 7%;
  text-align: center;
  font-size: medium;
  font-weight: 1000 !important;
}
.pricing-title p {
  font-weight: 1000;
  font-size: large;
}
.last {
  background-image: url("https://barbend.com/wp-content/uploads/2023/01/Shutterstock_2119330580.jpg");
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: x-large;
}
.last-button {
  height: 40px;
  width: 100px;
  background-color: white;
  border: 2px solid black;
  transition-duration: 0.4s;
  cursor: pointer;
}

.last-button:hover {
  background-color: gray;
  color: white;
}
.p {
  font-size: x-large;
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 1024px) {
  .pricing-img {
    width: 100% !important;
    object-fit: cover;
  }
  .price-choice {
    flex: 1;
    margin: 1%;
  }
  price-box {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 500px) {
  .nav-logo {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 75px;
    height: 30px;
    padding: 0.7rem;
  }
  .nav-menu {
    justify-content: space-between;
  }

  .nav-list {
    font-size: 0.7rem;
    font-weight: 450;
  }

  .nav-list li {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 5px;
  }
  .hero {
    background-image: url("https://media.istockphoto.com/id/1272826997/photo/young-sweaty-strong-fit-muscular-man-with-big-muscles-doing-push-ups-on-the-kettlebells-in.jpg?s=612x612&w=0&k=20&c=C44kLwPh7W2SbW2BKlZDMDQWNfmTOixrNVMQQdSgqpE=");
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-size: cover;
  }
  .hero-info-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 5px solid white;
    margin-left: 10px;
  }
  .hero-info-box p {
    padding-left: 1rem;
  }

  .hero-title-one {
    font-size: 1.2rem;
    color: white;
  }
  .hero-title {
    margin-top: 9rem;
    margin-bottom: 0;
    font-size: 2rem;
    font-style: bold;
    font-weight: 800;
    color: white;
  }
  .p-title {
    text-align: center;
  }
  .section2 {
    background-image: url("https://plunkettfitness.com/wp-content/uploads/2019/01/personal-trainer.jpg");
  }
  .section2-title {
    font-size: 0.8rem;
  }
  .numbers {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-right: 20%;
    width: 100px;
    height: 100px;
    font-size: 0.9rem;
  }
  .button {
    margin-left: 46%;
    width: 200px;
    margin-top: 35%;
    height: 40px;
  }
  .pictures img {
    object-fit: scale-down;
    max-width: 100%;
    height: auto;
    padding-top: 20%;
  }
  .services {
    padding-top: 20%;
    font-size: 0.9rem;
  }
  .pictures {
    height: auto;
  }
  .img-caption {
    bottom: 15px;
    left: 10px;
  }
  .testemonial {
    position: absolute;
    margin-left: 5%;
    font-size: small;
    top: 100px;
    margin-right: 20px;
  }
  .price-box {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }
  .price-choice {
    border: 1px solid black;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    margin: 0 10% 5% 10%;
  }
  .pricing-img {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .pricing-sec {
    display: flex;
    flex-direction: column;
  }
  .last {
    background-image: url("https://barbend.com/wp-content/uploads/2023/01/Shutterstock_2119330580.jpg");
    text-align: center;
    font-size: medium;
    font-weight: bolder;
  }
  footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-family: "Lato", sans-serif;
    padding: 0;
    flex-wrap: wrap;
  }

  footer ul {
    margin: 0;
  }
  .copyright {
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-bottom: 1rem;
    margin: 0;
    width: 100%;
    font-size: x-small;
  }
  .footer-p {
    margin-left: 5%;
    margin-right: 5%;
  }
  .pricing-title {
    font-size: smaller;
  }
  .button-section {
    margin-top: 10%;
    text-align: center;
    align-items: center;
  }
}
